.boo-tooltip.brand-style {
  .boo-tooltip-content {
    border: 1px solid @brand-orange-color;
    border-radius: 2px;
  }
  .boo-tooltip-inner {
    background-color: #FFF3EB;
    box-shadow: none;
  }

  .boo-tooltip-popper[x-placement^="top"] .boo-tooltip-arrow {
    border-top-color: @brand-orange-color;
  }
  .boo-tooltip-popper[x-placement^="right"] .boo-tooltip-arrow {
    border-right-color: @brand-orange-color;
  }
  .boo-tooltip-popper[x-placement^="bottom"] .boo-tooltip-arrow {
    border-bottom-color: @brand-orange-color;
  }
  .boo-tooltip-popper[x-placement^="left"] .boo-tooltip-arrow {
    border-left-color: @brand-orange-color;
  }
}
