.ant-card-head-title {
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
}
.content-title {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}
.content-title2 {
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imgCarousel{
    margin-left: 100px;
    width: 500px;
    height: 500px;
}
