.boo-modal-confirm-head {
  display: flex;
  align-items: center;
  .boo-modal-confirm-head-title {
    font-weight: 500;
  }
}
// 面包屑
.boo-breadcrumb-item-separator {
  color: @breadcrumb-item-separator-color !important;
}
// input
.boo-input {
  &:hover, &:focus {
    border-color: @input-hover-border-color;
  }
  input::-webkit-input-placeholder {
    color: @input-placeholder-color;
  }
}
// radio
.boo-radio-wrapper.boo-radio-default {
  font-size: @font-size-base;
  .boo-radio {
    margin-right: 10px;
  }
}
// 按钮
.boo-btn {
  &-small {
    font-size: @btn-font-size-sm !important;
  }
  &-icon-only.boo-btn-circle > .boo-icon {
    vertical-align: middle;
  }
}
// radio
.boo-radio {
  &-inner {
    border-color: @radio-border-color;
  }
  &:hover {
    .boo-radio-inner {
      border-color: @radio-hover-border-color;
    }
  }
}
// checkbox
.boo-checkbox {
  &-inner {
    border-color: @checkbox-border-color;
  }
  &:hover {
    .boo-checkbox-inner {
      border-color: @checkbox-hover-border-color;
    }
  }
}