.required-chart(@chart: '*') {
  display: inline-block;
  vertical-align: middle;
  content: @chart;
  line-height: 1;
  margin-right: 4px;
  margin-left: 4px;
  color: @error-color;
  font-size: @font-size-base;
}
.smart-sort-icon() {
  &:not(:last-child) {
    margin-right: 10px;
  }
  cursor: pointer;
  i {
    margin-right: 4px;
    margin-top: -2px;
  }
  &.add {
    color: @highlight-color;
  }
  &.remove {
    color: #FF5F59;
  }
  &.disabled {
    pointer-events: none;
    cursor: not-allowed !important;
    border-color: @disabled-color;
    color: @disabled-color;
  }
}

.two-line-text-overflow () {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.link () {
  color: @link-color;
  cursor: pointer;
  &:hover {
    color: @link-hover-color;
  }
  &.disabled {
    color: @disabled-color;
    cursor: not-allowed;
  }
}
