.required-chart(@chart: '*') {
  display: inline-block;
  vertical-align: middle;
  content: @chart;
  line-height: 1;
  margin-right: 4px;
  margin-left: 4px;
  color: @error-color;
  font-size: @font-size-base;
}
