@import "~@sfe/bootes/src/basics/styles/roo/custom.less";
@import "~@sfe/bootes/src/basics/styles/roo/mixins/index.less";

@color-bg: #f7f8fa;
@color-primary: #3f4156;
@color-weak: #A2A4B3;
@color-gray1: #fafafa;