@import "~@sfe/bootes/src/basics/styles/roo/custom.less";
@import "~@sfe/bootes/src/basics/styles/roo/mixins/index.less";

@color-success: #63D29D;
@color-error: #FF5F59;
@color-link: #F89800;
@color-red: #F22F47;
@color-bg: #f7f8fa;
@color-disabled: #BABCCC;
@color-primary: #3f4156;
@color-weak: #A2A4B3;
@color-border: #e9eaf2;
@color-gray1: #fafafa;
@color-gray2: #F3F3F4;
@color-gray3: #E9EAF2;
@color-gray4: #babccc;
@color-gray5: #858692;

@color-hovering: #ffd161;
