:root {
  --item-height: 60px;
  --sub-item-height: 58px;
  --extra-top-size: 28px;
  --set-icon-size: 14px;
}

.tree {
  background: var(--component-bg);
  position: absolute;
  height: 100%;
  width: 100%;

  :global(.ant-affix) .content{
    background: #ffffff;
  }
}

.content {
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
  overflow: auto;
  > .item:first-child {
    .set-cate {
      display: none !important;
    }
  }
}

.arrow {
  font-size: 12px;
  /* margin-right: 10px; */
  transform: scale(0.9);
}

.item {
  .category.open, .category.selected, .category:hover {
    .set-cate {
      display: inline-block;
    }
  }
  .category {
    .show-set {
      display: inline-block !important;
    }
  }
}

.item {
  height: var(--item-height);
  overflow: hidden;
  cursor: pointer;
  &.open {
    height: auto;
  }

  .category {
    height: var(--item-height);
    position: relative;
    cursor: pointer;
    line-height: 20px;
    padding-left: 36px;
    padding-top: 10px;
    .desc {
      margin-top: 4px;
      font-size: 12px;
      line-height: 16px;
      color: var(--text-small-color);
      font-weight: normal;
      > span {
        margin-right: 6px;
      }
    }

    .arrow {
      position: absolute;
      top: 14px;
      left: 16px;
    }

    &:hover {
      background: #f7f8fa;
    }

    &.selected {
      background: #f7f8fa;
      border-left: 2px solid var(--link-color);
      .title {
        color: var(--link-color);
        font-weight: bold;
      }
      .desc {
        color: var(--link-color);
      }
    }

    .set-cate {
      position: absolute;
      top: 16px;
      right: 12px;
      width: auto;
      z-index: 0;
      display: none;
      padding: 5px;
      .set-icon {
        font-size: 14px;
      }
    }

    .extra {
      height: var(--item-height);
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.top-extra {
        height: var(--extra-top-size);
        margin-right: 0;
        justify-content: start;

        > .top {
          width: var(--extra-top-size);
          height: var(--extra-top-size);
          font-size: 28px;
          margin-top: 0;
          color: #BABCCC;
        }
      }
      &.sort-extra {
        width: 60px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 4px;
      }
    }
  }
}

.sub-list {
  .item {
    height: auto;
    height: 58px;
    &.open {
      height: auto;
    }

    .category {
      /*display: flex;*/
      height: 58px;
      line-height: 20px;
      padding: 12px 16px 12px 50px;
      /*.title {*/
        /*flex: 1;*/
      /*}*/
      .desc {
        margin-top: 0;
      }
    }
  }
}

.cate-modal {
  :global {
    .ant-radio-inner {
      border-color: var(--primary);
    }
  }
  &.no-padding-top {
    :global {
      .ant-modal-content {
        .ant-modal-body {
          padding: 0 0 24px 0;
          .ant-alert.ant-alert-warning {
            margin-bottom: 20px;
          }
        }
      }
    }
    .form-item {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .form-item {
    display: block;
    height: auto;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    vertical-align: middle;
    .form-item-label {
      display: inline-block;
      width: 77px;
      text-align: right;
      vertical-align: top;
      padding-top: 8px;
      &.label-no-pad-top {
        padding-top: 0;
      }
    }
    .form-item-label.large-label {
      width: 116px;
    }
    .form-item-control-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
    .sell-time-tip {
      display: inline-block;
      font-size: 14px;
      color: var(--gray-1);
      padding-top: 7px;
      padding-bottom: 11px;
    }
  }
}

.caption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 39px;
  padding-left: 9px;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: var(--tabs-color);
  /*background-color: var(--body-bg);*/
  .caption-tip {
    font-size: 12px;
    font-weight: normal;
    color: var(--gray-3);
  }
}

.no-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 12px;
  color: var(--gray-1);
  padding-left: 9px;
  /*background-color: var(--component-bg);*/
}

.icon-border {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #F89800;
  border: 2px solid #ffdfaf;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transform: scale(.8);
  &.drag {
    cursor: move;
  }
  &.remove {
    color: var(--error-color);
    border-color: #f9d4d4;
  }
}

.tip-box {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 5px;
  .check-tip {
    color: var(--link-color);
    cursor: pointer;
  }
}
